{% comment %}
  emit-events-ul.html: emit an unordered list of tutorial events

  Arguments:
    event-labels: array of event-labels to emit, in desired order
    highlight: highlight first entry in list by bolding it (optional, default: false)
    artifacts: include list of artifacts available (optional, default: true)

  Global variables used:
    site.data.bsswt[*].event
    site.data.bsswt[*].artifacts
 {% endcomment %}

 {%- comment -%}
    Seems that the default filter doesn't work with truth values,
    even though docs indicate it ought to.  Sigh.
 {%- endcomment -%}
{%- if include.highlight != nil -%}
  {%- assign first = include.highlight -%}
{%- else -%}
  {%- assign first = false -%}
{%- endif -%}
{%- if include.artifacts != nil -%}
  {%- assign artifacts = include.artifacts -%}
{%- else -%}
  {%- assign artifacts = true -%}
{%- endif -%}
{%- if include.event-labels.size > 0 -%}
<ul>
  {% for event-label in include.event-labels %}
    {%- assign my-event = site.data.bsswt[event-label].event -%}
    {% if my-event.artifacts %}
      {% assign my-artifacts = my-event.artifacts %}
    {% else %}
      {% assign my-artifacts = site.data.bsswt[event-label].event.artifacts %}
    {% endif %}
    {% if my-event %}
      <li style="margin-top: 1em">{% if first %}<strong>{% endif %}{{ my-event.startdate | date: "%F" }}: <a href="/{{ event-label }}/">{{ my-event.title }}{% if my-event.title-type %} {{ my-event.title-type }}{% endif %} @ {{ my-event.venue }}{% if my-event.venue-type %} {{ my-event.venue-type }}{% endif %}</a>{%if my-event.location %} ({{ my-event.location }}){% endif %}{% if first %}</strong>{%- assign first = false -%}{% endif %}</li>
      {% if my-event.enddate %}
        {% include upcoming-event event=my-event.enddate %}
      {% elsif my-event.startdate %}
        {% include upcoming-event event=my-event.startdate %}
      {% else %}
        {% assign upcoming = false %}
      {% endif %}
      {% if upcoming and my-event.registration-url %}
        {% assign display-registration = true %}
      {% else %}
        {% assign display-registration = false %}
      {% endif %}
      {% if artifacts %}
        {% if my-artifacts or display-registration %}
        <ul>
          {% if display-registration %}
          <li><a href="{{ my-event.registration-url }}">Register for the event</a></li>
          {% endif %}
          {% assign my-artifacts-size-no-bsswt = my-artifacts | where_exp: "i", "i.bsswt-event-label == nil" | where_exp: "i", "i.status != 'reserved'" | size %}
          {% if my-artifacts-size-no-bsswt  > 0 %}
          <li>{{ my-artifacts-size-no-bsswt | pluralize: "Artifact:", "Artifacts:" }} {% include emit-artifacts.html artifacts=my-artifacts format="row" %}</li>
          {% endif %}
        </ul>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
{%- endif -%}
