---
layout: default
---
{% include upcoming-event event=page.date %}
{% include set-date-range full-time=false start=page.date end=page.end-date %}

{%- assign my-artifacts = site.data.bsswt[page.directory].artifacts -%}

{% include extract-array-subset key="github-id" values=page.presenter-ids source=site.people %}
{% include set-name-affiliation-array people=extract_array_subset %}
{% capture pnamafil %}{% include array-to-sentence array=name_affiliation_array 
  if_empty="<em>to be announced</em>" %}{% endcapture %}

{% include extract-array-subset key="github-id" values=page.helper-ids source=site.people %}
{% include set-name-affiliation-array people=extract_array_subset %}
{% capture hnamafil %}{% include array-to-sentence array=name_affiliation_array 
    if_empty="<em>to be announced</em>" %}{% endcapture %}

<h1 align="center">{% if page.title-url %}<a href="{{ page.title-url }}">{{ page.title }}</a>{% else %}{{ page.title }}{% endif %}</h1>
<p align="center">a {{ page.title-type }} presented at</p>
<h2 align="center">{% if page.venue-url %}<a href="{{ page.venue-url }}">{{ page.venue }}</a>{% else %}{{ page.venue }}{% endif %}</h2>
{% if page.date %}
  <h3 align="center">on 
    {% if page.time %}{{ page.time }}{% endif %}
    {{ page.date | date: "%A %d %B %Y"}}
    {% if page.end-date %}- {{ page.end-date | date: "%A %d %B %Y"}}{% endif %}
  </h3>
{% endif %}

{% if page.presenter-ids %}
<p style="text-indent: -5em; padding-left: 5em;"">{{ page.presenter-ids | size | pluralize: "Presenter:", "Presenters:" }} {{ pnamafil }}</p>
{% endif %}

{% if page.helper-ids %}
<p style="text-indent: -5em; padding-left: 5em;"">{{ page.helper-ids | size | pluralize: "Helper:", "Helpers:" }} {{ hnamafil }}</p>
{% endif %}

<hr>
<p>This page provides detailed information specific to the tutorial event above. Expect updates to this page up to, and perhaps shortly after, the date of the tutorial. Pages for other tutorial events can be accessed from the <a href="/">main page</a> of this site.</p>

<hr>

{% if my-artifacts %}
<h2>Quick Links</h2>
<ul>
    {% include emit-artifacts.html artifacts=my-artifacts format="li" %}
</ul>
{% endif %}

{{ content }}

<hr>
<h2>Acknowledgments</h2>
{% include section-acknowledgments.md %}