---
layout: default
---
<h2>Tutorial Staff Details</h2>

<section>
  <h3><strong>{{ page.firstname }} {{page.lastname }}</strong>
  </h3> 

  {% if page.aka %}
    <p><strong>Also Known As:</strong> {{ page.aka }}
    </p>
  {% endif %}

  {% if page.affiliations %}
    <p><strong>{{ page.affiliations | size | pluralize: "Affiliation", "Affiliations" }}:</strong>
      {{ page.affiliations | array_to_sentence_string | markdownify |
        remove: "<p>" | remove: "</p>" | lstrip | rstrip }}
    </p>
  {% endif %}

  {% if page.past-affiliations %}
    <p><strong>{{ page.past-affiliations | size | pluralize: "Past Affiliation", "Past Affiliations" }}:</strong>
      {{ page.past-affiliations | array_to_sentence_string | markdownify |
        remove: "<p>" | remove: "</p>" | lstrip | rstrip }}
    </p>
  {% endif %}
    
  {% if page.github-id %}
    <p><strong>GitHub ID:</strong>
      <a href="{{ site.github-url }}{{ page.github-id }}">{{ page.github-id }}
      </a>
    </p>
  {% endif %}
    
  {{ content }}

  {%- assign tutorials = "" | split: "," -%}
  {%- for t in site.data.tutorials -%}
    {%- assign my-event = site.data.bsswt[t.event-label].event -%}
    {%- assign when = my-event.startdate | date: "%s" -%}
    {%- assign value = my-event.startdate | append: "," | append: t.event-label -%}
    {%- assign tutorials = tutorials | push: value -%}
  {%- endfor -%}
  {% assign event-labels = "" | split: "," %}
  {% assign sorted = tutorials | sort | reverse %}
  {% for item in sorted %}
    {% assign event-label = item | split: "," | last %}
    {% assign event-labels = event-labels | push: event-label %}
  {% endfor %}

  {%- assign presented-in = "" | split: "," -%}
  {%- assign helped-in = "" | split: "," -%}
  {% for event-label in event-labels %}
    {%- assign my-event = site.data.bsswt[event-label].event -%}
      {%- if my-event.presenter-ids contains page.github-id -%}
        {%- assign presented-in = presented-in | push: event-label -%}
      {%- elsif my-event.helper-ids contains page.github-id -%}
      {%- assign helped-in = presented-in | push: event-label -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if presented-in.size > 0 -%}
  <p><strong>Presenter:</strong></p>
    {% include emit-events-ul.html event-labels=presented-in artifacts=false %}
  {%- endif -%}

  {%- if helped-in.size > 0 -%}
  <p><strong>Helper:</strong></p>
    {% include emit-events-ul.html event-labels=helped-in artifacts=false %}
  {%- endif -%}
</section>
